.form-half {
    width: 47%;
    float: left;
    margin-right: 3%;
}
.form-half-without-margin {
    width: 50%;
    float: left;
}
.form-half-small-margin {
    width: 49%;
    margin-right: 1%;
    float: left;
}
.form-third {
    width: 32%;
    margin-right: 1%;
    float: left;
}
.form-two-thirds {
    width: 67%;
    float: left;
}
.form-split:after {
    content: "";
    display: table;
    clear: both;
}
.rel-link {
    position: absolute;
    margin-top: -13px;
    font-size: smaller;
}
.protein-activity {
    margin-bottom: 3px;
}
textarea {
    white-space: pre-wrap;
}
.select2-selection__rendered {
    cursor: text;
}