.form-group {
    position: relative;
}

.row.form-row {
    margin-left: -4px;
    margin-right: -4px;
}
.row.form-row > [class*='col-'] {
    padding: 4px;
}
.open-genes-cms .btn.btn-success {
    min-width: 120px;
}
.submit-panel {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 10;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    background-color: #fff;
    box-shadow: 1px -1px 5px -2px rgba(0,0,0,0.75);
}

.open-genes-cms {
    min-width: 560px;
    margin-top: 15px;
}
.open-genes-cms a {
    color: #6663bb;
    text-decoration: none;
}
.open-genes-cms .btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.open-genes-cms .btn-success:hover {
    color: #fff;
}

.open-genes-cms a:hover, a:focus, .open-genes-cms a.asc, .open-genes-cms a.desc {
    color: #3e3a84;
}

.open-genes-cms .pagination > .active > a, .open-genes-cms .pagination > .active > span, .open-genes-cms .pagination > .active > a:hover, .open-genes-cms .pagination > .active > span:hover, .open-genes-cms .pagination > .active > a:focus, .open-genes-cms .pagination > .active > span:focus {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #6663bb;
    border-color: #6663bb;
}

.open-genes-navbar.navbar-inverse .navbar-nav > li > a {
    font-size: 13px;
}
.open-genes-navbar.navbar-inverse .btn-link {
    font-size: 13px;
}
.open-genes-navbar.navbar-inverse .navbar-brand img {
    height: 30px;
    display: inline-block;
}

.open-genes-navbar.navbar-inverse {
    background-color: #6663bb;
    border-color: #6663bb;
}
.open-genes-navbar.navbar-inverse .navbar-nav > li > a {
    color: #e8e8f7;
}
.open-genes-navbar.navbar-inverse .navbar-brand {
    color: #fff;
}
.open-genes-navbar.navbar-inverse .dropdown-menu > li > a {
    font-size: 13px;
}
.open-genes-navbar.navbar-inverse .navbar-nav > .open > a, .open-genes-navbar.navbar-inverse .navbar-nav > .open > a:hover, .open-genes-navbar.navbar-inverse .navbar-nav > .open > a:focus {
    color: #e8e8f7;
    background-color: #3e3a84;
}
.open-genes-navbar.navbar-inverse .btn-link {
    color: #e8e8f7;
    padding-top: 15px;
    padding-bottom: 15px;
}
.open-genes-navbar .navbar-brand {
    padding: 10px 15px;
}
.open-genes-navbar.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #3e3a84;
}
.open-genes-navbar.navbar-inverse .navbar-toggle {
    border-color: #3e3a84;
}

.open-genes-navbar.navbar-inverse .navbar-nav > .active > a {
    background-color: #3e3a84;
    border-color: #3e3a84;
}

.open-genes-navbar.navbar-inverse .navbar-nav > .active > a, .open-genes-navbar.navbar-inverse .navbar-nav > .active > a:hover {
    background-color: #3e3a84;
    border-color: #3e3a84;
}

@media (max-width: 1200px) {
    .open-genes-navbar .navbar-header {
        float: none;
    }
    .open-genes-navbar .navbar-left,.navbar-right {
        float: none !important;
    }
    .open-genes-navbar .navbar-toggle {
        display: block;
    }
    .open-genes-navbar .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .open-genes-navbar .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .open-genes-navbar .navbar-collapse.collapse {
        display: none!important;
    }

    .open-genes-navbar .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .open-genes-navbar .navbar-nav>li {
        float: none;
    }
    .open-genes-navbar .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .open-genes-navbar .collapse.in{
        display:block !important;
    }

    .open-genes-navbar .navbar-brand {
        display: inline-block;
        float: none;
    }

    .open-genes-navbar .navbar-form.form-inline {
        display: inline-block;
        border-color: transparent;
        margin: 4px;
        padding: 5px;
    }

    .open-genes-navbar .navbar-form .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }

}

.open-genes-cms .open-genes-navbar.navbar-inverse .btn.btn-link {
    color: #e8e8f7;
    background: #6563bb;
}

.open-genes-cms .s2-togall-button {
    display: inline-block;
    font-weight: 400;
    color: #6563bb;
    padding: 0.5rem;
    cursor: pointer;
}

section.login-form {
    display: block;
    margin: 70px auto 0;
    width: 440px;
    padding: 10px 20px;
    border-radius: 5px;
    background: #e3e2ff;
}

section.login-form .btn-primary {
    color: #fff;
    background-color: #6563bb;
    border-color: #6563bb;
    margin: 0 auto;
    width: 100px;
    display: block;
}
section.login-form .btn-primary:active, section.login-form .btn-primary:hover {
    color: #fff;
    background-color: #3e3c92;
    border-color: #3e3c92;
}

section.error {
    display: block;
    margin: 70px auto;
    width: 440px;
    padding: 10px 20px;
    border-radius: 5px;
    background: #e3e2ff;
}
section.error h3 {
    margin-top: 10px;
}

.open-genes-cms .alert {
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
    position: absolute;
    top: 70px;
    left: 30px;
    max-width: 370px;
}

/* Select2 fixes */
.open-genes-cms .select2-container .select2-selection--multiple .select2-selection__rendered {
    display: block;
}
.select2-container--krajee .select2-selection--multiple .select2-selection__choice__remove {
    margin: 0 0 0 10px !important;
    font-size: 16px;
}
.footer {
    padding-bottom: 54px; /* crutch: padding for a fixed panel */
}

